/**
 * Light theme variables - Gruvbox Light
 */

:root {
  --base-color: #3c3836;
  --border: dashed 1px rgba(60, 56, 54, 1);
  --selection-background: rgba(215, 153, 33, 0.4);
  --selection-text: #3c3836;
  --background-color: #fbf1c7;
  --text-color: var(--base-color);
  --placeholder-color: #7c6f64;
  --link-color: #076678;
  --code-color-1: #928374;
  --code-color-2: #fabd2f;
  --code-color-3: #cc241d;
  --code-color-4: #fb4934;
  --code-color-5: #458588;
  --code-color-6: #98971a;
  --code-color-7: #9d0006;
  --code-color-8: #076678;
  --code-color-9: #79740e;
  --code-color-10: #928374;
  --code-color-11: #665c54;
  --code-color-12: #8f3f71;
  --code-color-13: #427b58;
  --code-color-14: #689d6a;
  --code-color-15: #d65d0e;
  --code-color-16: #458588;
  --code-color-17: #af3a03;
  --code-color-18: #a89984;
}
