/**
 * Light theme variables - Rose Pine Dawn (muted)
 */

:root {
  --base-color: #575279;
  --border: dashed 1px rgba(87, 82, 121, 0.3);
  --selection-background: rgba(234, 157, 52, 0.3);
  --selection-text: #575279;
  --background-color: #f2e9e1;
  --text-color: var(--base-color);
  --placeholder-color: #9893a5;
  --link-color: #286983;
  --code-color-1: #9893a5;
  --code-color-2: #ea9d34;
  --code-color-3: #b4637a;
  --code-color-4: #d7827e;
  --code-color-5: #286983;
  --code-color-6: #56949f;
  --code-color-7: #b4637a;
  --code-color-8: #286983;
  --code-color-9: #56949f;
  --code-color-10: #797593;
  --code-color-11: #797593;
  --code-color-12: #907aa9;
  --code-color-13: #56949f;
  --code-color-14: #ea9d34;
  --code-color-15: #d7827e;
  --code-color-16: #286983;
  --code-color-17: #d7827e;
  --code-color-18: #cecacd;
}
